<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="row container">
                <p>As you may know, John Tsotsos recently turned 65 and although mandatory retirement is no longer in play in academia in Canada we felt that it would be wrong to let this auspicious moment pass without some recognition. So a one day event — a verbal Festschrift if you like —  is being held in John’s honour on Saturday May 12th 2018 at York University in Toronto, Canada. We will have a number of talks from distinguished researchers in areas in which John has contributed speak as well as a number of his academic children provide some context as to John’s contributions beyond his own research directly.
<br><br>
We are currently finalizing the details for the event, e.g., coffee breaks, name tags, and seating. We ask you to please RSVP below.
<br><br>
If there is any further information that you might need, do not hesitate to contact one of the organizers. John’s Festschrift is being held the day after <a href="http://computerrobotvision.pagecloud.com">AI/GI/CRV</a> which is also being held at York University.</p>
                 <center><a href="https://docs.google.com/forms/d/e/1FAIpQLSdHpmVttjMOdsZPaV29buHPmsyxBDl_HJGFHQGBQsxczI0g_g/viewform" class="page-scroll btn btn-xl">RSVP</a></center>
            </div>
        </div>
    </section>
