<section id="location">
  <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Location</h2>
        </div>
      </div>
      <div class="container">
        <p>We are confirmed for Life Sciences Building 103. A link to the map is <a href="http://maps.info.yorku.ca/files/2013/02/KEELE_Map_Colour.pdf">here</a>.
<br>
<li> We are in building 90. The closest parking lot is 79. The closest subway station is a short walk away from Pioneer Village Station (101 on the map).</li>
<br>
<li> The banquet is in the Seymour Schulich Building (42 on the map) about a 15 minute walk from the Life Sciences Building. The closest parking lot to the banquet is parking lot 84 (Student Services Parking Garage).</li></p>
      </div>
  </div>
</section>
