 <!-- Portfolio Modals -->
 {% for post in site.categories.speakers %}
    <div class="portfolio-modal modal fade" id="{{ post.name }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                {% for speaker in post.speakers %}
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <a href="{{ speaker.webpage }}"><h2>{{ speaker.name }}</h2></a>
                            <hr class="star-primary">
                            {% if speaker.title && speaker.abstract %}
                              <h3>{{ speaker.title }}</h3>
                              <p>{{ speaker.abstract }}</p>
                            {% else %}
                              <h3>TBA</h3>
                            {% endif %}
                            <!-- <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button> -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
