<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">John K. Tsotsos<br></div>
                <div class="intro-sub-heading">a verbal Festschrift</div>
                <div class="intro-lead-in">May 12, 2018</div>
                <div class="intro-lead-in">York University,<br>Toronto, Canada</div>
            </div>
        </div>
        <div class="header-overlap"></div>
    </header>

    {% include intro.html %}
    {% include agenda.html %}
    {% include location.html %}
    {% include js.html %}

    </body>
</html>
